<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- Custom CSS -->
     <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/download.css">
</head>

<body>
    <!-- Header Section -->
    <header class="header">
        <section class="flex">
            <a href="{{ url_for('home') }}"><img src="/static/igniteXT icon.png" alt="Logo" class="logo"></a>
                <span class="logo-text" style="font-family: 'Times New Roman', Times, serif; font-size: 2.3rem; font-weight: bolder; margin-right: -10px;color: yellow;margin-left: 500px;">
                    <span style="margin-left: -5px; font-weight: 700; margin-right: -5px; color: white; font-family: 'Times New Roman', Times, serif;margin-left: -15px;">I</span>
                    gnite <span style="margin-left: -5px; font-weight: 700;color: white;font-family: 'Times New Roman', Times, serif;">XT</span>
                    </span
                </section>
                </header>
                <h1>Uploaded Files</h1>
    <div>
        {% if files %}
            <ul>
                {% for filename in files %}
                    <li>
                        <a href="{{ url_for('download_file', filename=filename) }}" download>{{ filename }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No files uploaded yet.</p>
        {% endif %}
    </div>
    <br>
    <!-- Only show the "Upload More Files" link if the user's role is 'faculty' -->
    {% if role == 'faculty' %}
        <a href="{{ url_for('upload') }}">Upload More Files</a>
    {% endif %}
</body>
</html>
